body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
}


/* QR code generator */
#qrCode {
    margin: 15px;
}

.noresize {
    height: 150px;
    width: 100%;
    resize: none;
}
/*
.navbar {
    background-color: #0077B5;
}

a {
    color: black !important;
}

.container > a {
    border-radius: 15px;
    margin: 5px;
    height: 60px;
    background-color: white;
    border-style: inset;
    border-color: black;
}

a:hover {
    background: linear-gradient(to bottom right, white, white, #8CABFF, #0088b5);
    color: black !important;
}

.btn {
    background-color: white; 
    color: black;
    padding: 12px 16px;
    font-size: 16px; 
    cursor: pointer; 
    border-radius: 25px;
    border-color: black;
    border-style: solid;
    border-width: 1px;
}

    .btn:hover {
        background: linear-gradient(to bottom right, white, white, #8CABFF, #0088b5);
        color: black !important;
        border-color: black;
    }

a:link {
    background-color: white;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 25px;
}

li {
    margin: 5px;
    font-size: 15px;
}

address > a:link {
    border-radius: 0px;
    background-color: #FFF;
    color: #0645AD !important;
    border-style: none;
}

a.navbar-brand {
    height: 50px;
    margin-top: 15px;
} */
