body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
}


/* QR code generator */
#qrCode {
    margin: 15px;
}

.noresize {
    height: 150px;
    width: 100%;
    resize: none;
}

.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
    background-color:#f2f2f2;
}

.navbar-nav li a:hover {
    color: #1abc9c !important;
}
li {
    margin: 5px;
    font-size: 15px;
}

address > a:link {
    background-color: #FFF;
    color: #0645AD;
    border-style: none;
}

a > .navbar-brand {
    height: 50px;
    margin-top: 15px;
    
}


a > .navbar-brand btn:hover  {
    color:#1abc9c;
    
}
.ProfilePic {
    /*height: 192px;*/
    width: 192px;
    border: 1px solid black;
}

.CarouselImg{
    height: 160px;
}

.Heart{
    color: red;
}


<!---->

#likeBtn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

    #likeBtn span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
    }

#likeBtn:hover span {
    padding-right: 25px;
}

    #likeBtn:hover span:after {
        opacity: 1;
        right: 0;
    }


    <!---->
#tinderButton {
    background-color: #f4511e;
    border: none;
    color: white;
    
    text-align: center;
    font-size: 14px;
    margin: 0px 0px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}

#tinderButton:hover {
    opacity: 1
}