@model Vrektproject.Models.ApplicationUser

@{
    ViewData["Title"] = "Finder";
}

<h2>Finder</h2>

Profiles? <br />
          <div hidden id="secretId">@Html.DisplayFor(model => Model.Id)</div>
<button id="tinderButton">Get Profile</button>
<div id="profileResult">Put profile here</div><br /><br />