@model Vrektproject.Models.ApplicationUser

@{
    ViewData["Title"] = "Finder";
}

<br />
<div hidden id="secretId">@Html.DisplayFor(model => Model.Id)</div>
<div hidden id="secretProfileId">hello</div>
<div class="container">
    <img id="imageTemplate" class="img-circle img-responsive center-block" style="max-width: 500px" src="" />
    <div id="nameTemplate" class="lead text-center"></div>
    <div id="descriptionTemplate" class="text-center center-block" style="max-width: 500px"></div>
    <button id="tinderButton" class="btn center-block">Start Matching</button>
    <button id="likeBtn" class="btn btn-success hidden">Like</button>
</div>